body {
    font-family: 'Special Gothic Expanded One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("Recursos/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.calculadora {
    width: 300px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.pantalla {
    background-color: rgba(0,0,0, 0.2); /* Más opaco */
    color: black;
    font-family:monospace;
    font-size: 300%;
    text-align: right;
    padding: 10px;
    height: 50px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    background: rgba(0,0,0, 0.2); /* Más opaco */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #bbb;
}

.boton-clear {
    grid-column: span 4; /* Ocupa 4 columnas */
    color: black;
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-clear:hover {
    background-color: #d32f2f; /* Color al pasar el cursor */
    color: aliceblue;
}